{
  "presets": [
    ["env"],
    ["next/babel"]
  ],
  "plugins": [
    "transform-decorators-legacy",
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "component": "./components"
        }
      }
    ]
  ]
}
